.hero-section {
  /* background-color: #ffe4a4; */
  padding: 150px 120px;
  /* height: 60vh; */
  /* margin-top: 15vh; */
  /* padding-top: 120px; */
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 100px;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  max-width: 100vw;
}
.hero-section-right {
  background: rgba(255, 255, 255, 0.15);
  padding: 15px;
  border-radius: 20px;
}
.hero-section-right img {
  width: 100%;
}
.hero-section-content p {
  text-align: left;
  margin: 10px;
}
.hero-title {
  font-family: "Permanent Marker", cursive;
  font-size: 4.1rem;
  letter-spacing: 5px;
  color: aliceblue;
}
.hero-subtitle {
  font-family: "Caveat", cursive;
  font-weight: 600;
  font-size: 1.8rem;
  color: #ffe4a4;
  background: rgba(255, 255, 255, 0.15);
  padding: 6px 20px;
  border-radius: 25px;
  width: fit-content;
}

@media screen and (max-width: 1300px) {
  .hero-title {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1150px) {
  .hero-title {
    font-size: 3rem;
  }
  .hero-section {
    gap: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .hero-title {
    font-size: 2.5rem;
  }
  .hero-subtitle {
    font-size: 1.5rem;
  }
  .hero-section {
    margin-top: 10vh;
    padding: 100px 70px;
    gap: 30px;
  }
}
@media screen and (max-width: 900px) {
  .hero-title {
    font-size: 2.3rem;
  }
  .hero-subtitle {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 750px) {
  .hero-subtitle {
    font-size: 1.5rem;
  }
  .hero-section {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 30px;
    padding: 60px 80px;
  }
  .hero-section-right img{
    width: 90%;
  }
}
@media screen and (max-width: 670px) {
  .hero-title {
    letter-spacing: 3px;
  }
  .hero-section-right{
    margin: 0;
  }
}
@media screen and (max-width: 625px) {
  .hero-section-content p{
    text-align: center;
  }
  .hero-section {
    padding: 60px 40px;
  }
}
@media screen and (max-width: 550px) {
  .hero-title{
    font-size: 1.9rem;
  }
  .hero-subtitle{
    font-size: 1.3rem;
  }
}